<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Assets/css/style-contact.css">
        <link rel="icon" type="image/png" href="../Assets/img/emotion.png">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Tenali+Ramakrishna&display=swap"
            rel="stylesheet">

        <title>Cotacto</title>

    </head>
    <body>

        <div class="head">

            <div class="logo">
                <a href="unload.html">Unload</a>
            </div>

            <nav class="navbar">

                <a href="../index.html">Home</a>
                <a href="registrar.html">Register</a>
                <a href="nosotros.html">About Us</a>
                <a href="contacto.html">Contact</a>
            </nav>

        </div>

        <div class="contContact">

            <div class="logosContact">

                <h1> Síguenos </h1>
                <img src="/Assets/img/facebook.png" class="cont-img-facebook">
                <img src="/Assets/img/instagram.png" class="cont-img-instagram">
                <img src="/Assets/img/tiktok.png" class="cont-img-tiktok">

                <h2>Preguntas Frecuentes.</h2>
                <h3 class="infoContact1">Cómo recuperar mi contraseña?</h3>
                <h3 class="infoContact2">Cómo solicitar un psicólogo?</h3>
                <h3 class="infoContact3">Cómo solicitar un psiquiatra?</h3>
                <h3 class="infoContact4">By: Juan Muñoz.</h3>


            </div>

        </div>

             <div class="formuContact">

                <form class="form">

                    <h1>Formulario De Contacto</h1>

                    <input type="text" id="nom" class="box"
                        placeholder="INGRESE SU NOMBRE.">

                    <input type="email" id="email" class="box"
                        placeholder="INGRESE SU CORREO ELECTRONICO.">

                    <textarea name="reseña" id="reseña" cols="30" rows="10"
                        class="box" placeholder="INGRESA TUS PREGUNTAS."></textarea>

                    <a href class="button">Enviar</a>

                </form>

            </div>  
    </body>
</html>