<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0  maximum-scale=1, user-scalable="0""
            maximum-scale=1, user-scalable="0">
        <title>Nosotros</title>
        <link rel="stylesheet" href="../Assets/css/style-nav-inf.css">
        <link rel="icon" type="image/png" href="../Assets/img/emotion.png">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Tenali+Ramakrishna&display=swap"
            rel="stylesheet">
    </head>
    
    <body>

            <div class="head">
                <div class="logo">
                    <a href="unload.html">Unload</a>
                </div>

                <nav class="navbar">

                    <a href="../index.html">Home</a>
                    <a href="registrar.html">Register</a>
                    <a href="nosotros.html">About Us</a>
                    <a href="contacto.html">Contact</a>
                </nav>

            </div>

            <div class="cont">
                <div class="contInterno">

                    <div class="burbujas">
                        <div class="textos">
                            <h1>Libera tus emociones</h1>
                        </div>
                        <div class="textos2">
                            <h3> Expresate...
                            </h3>
                        </div>
                        <div class="burbuja"> </div>
                        <div class="burbuja"> </div>
                        <div class="burbuja"> </div>
                        <div class="burbuja"> </div>
                        <div class="burbuja"> </div>
                    </div>
                </div>
            </div>

          <div class="contH">

                <h1>
                    UNLOAD: Una plataforma virtual para ayudarte a descargar tus
                    emociones y encontrar apoyo emocional
                </h1>
                <p>La vida puede ser difícil y a veces podemos sentirnos
                    abrumados por nuestras emociones.
                    Ya sea que estés lidiando con la ansiedad, la depresión, el
                    estrés o cualquier otra dificultad
                    emocional, es importante tener un espacio seguro y
                    confidencial para hablar sobre tus
                    sentimientos y encontrar apoyo emocional. UNLOAD es una
                    plataforma virtual
                    que te brinda exactamente eso.</p>
                <p>En UNLOAD, puedes conectarte con otros en un espacio seguro y
                    anónimo para compartir tus pensamientos
                    y sentimientos más profundos sin miedo a ser juzgado. La
                    plataforma está diseñada para brindarte
                    un espacio seguro y confidencial para descargar tus
                    emociones y recibir apoyo emocional de otros
                    que están pasando por situaciones similares. Además, UNLOAD
                    también cuenta con el soporte
                    de psicólogos y psiquiatras que pueden ayudarte a encontrar
                    soluciones a tus problemas emocionales.</p>
                <p>La plataforma UNLOAD funciona como un blog virtual en el que
                    los usuarios pueden publicar
                    sus historias y experiencias personales, y otros usuarios
                    pueden leer, comentar y brindar
                    apoyo emocional. También puedes conectarte en tiempo real
                    con otros usuarios en un chat
                    grupal anónimo para hablar sobre tus problemas y recibir
                    apoyo emocionalen tiempo real.</p>
                <p>Además, UNLOAD también ofrece la opción de conectarte con un
                    psicólogo o psiquiatra
                    para recibir ayuda profesional. Los profesionales de la
                    salud mental de UNLOAD están
                    altamente capacitados y pueden brindarte un tratamiento
                    personalizado para ayudarte a gestionar
                    tus emociones y superar cualquier dificultad emocional.</p>

            </div>  


    </body>
</html>