<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" maximum-scale=1, user-scalable="0">
        <link rel="stylesheet" href="../Assets/css/style.css">
        <link rel="icon" type="image/png" href="../Assets/img/emotion.png">
        <title>Registrar</title>

    </head>
    <body>
        <div class="contenedor-principal">
        <div class="head">

            <div class="logo">
                <a href="unload.html">Unload</a>
            </div>

            <nav class="navbar">

                <a href="../index.html">Home</a>
                <a href="nosotros.html">About Us</a>
                <a href="contacto.html">Contact</a>
            </nav>

        </div>

        <div class="cont">

            <div class="contenedor-img">


                <form class="form">

                    <h2>¡Bienvenido a Emotional Unload!</h2>



                    <label for="nombre">Escribe tu nombre</label>
                    <input type="text" id="nombre" class="box">

                    <label for="nombre">Escribe tu correo</label>
                    <input type="email" id="correo" class="box">

                    <label for="clave">Escribe tu contraseña</label>
                    <input type="password" id="clave" class="box">

                    <a href="" class="button">Enviar</a>



                </form>

                <div class="cuenta-cont">
                    <a href="login.html" class="cuenta">¿Ya tienes una cuenta?</a>
                </div>

            </div>

        </div>
    </div>

    </body>
</html>