* {
    margin: 0%;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: inherit;
    text-align: center;
    color: azure;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background: #000000;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 9px 3px 20px #ac6291;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;

}

.logo a {

    text-decoration: none;
    color: #ac6291;
    text-transform: uppercase;
    font-size: 30px;
}

.navbar a {
    color: #ac6291 !important;
    font-weight: 500;
    padding: 0.5em 1.2em;
    position: relative;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
   
}

.navbar a:hover {

    color: rgb(255, 255, 255) !important;
    transition: all 2s ease; 
    border-radius: 15px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    margin: auto;
    padding: 85px 10px 25px 35px;
    background: #000000;
}

.contenedor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.contenedor-img {
    margin-left: 8px;
    width: 202vh;
    height: 85vh !important;
    background-image: url(/Assets/img/distorcionado.jpg);
    background-size: cover;
}

.contenedor-img form {
    animation-name: desvanecer-imagen;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes desvanecer-imagen {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 2;
    }
}
.form {
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #ac6291;
    padding: 15px 40px 40px 55px;
    width: 95vh;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
}

.form h2 {
    margin-top: 30px;
    font-size: 40px;
    color: #000000 ;
    font-weight: 600;
    margin-bottom: 25px;
    text-shadow: 3px 3px 2px #56304c;
}
label {
    margin-top: 10px;
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
}
.box {
    border: 0;
    width: 400px;
    color: #ffffff;
    background-color: #56304c;
    padding: 13px;
    margin-bottom: 15px;
    border-radius: 2px; 
}
input:focus {
    outline: none;
}

.button {
    margin-top: 12px;
    text-align: center;
    background-color: #000000;
    display: flex;
    align-items: center;
    border: 0;
    font-family: inherit;
    padding: 10px 8px 10px 43px;
    color: #ac6291;
    font-size: 25px;
    width: 100px;
    box-shadow: 0 0 8px #000000;
    text-decoration: none;
    border-radius: 2px;
}

.button:hover {

    background: #e6cadf;
    color: #000000;
    cursor: pointer;
}


.cuenta-cont {
    background: #000000;
    position: absolute;
    padding: 10px;
    margin-top: 40px;
    margin-left: 800px;
    margin-right: 5px;
    margin-bottom: 300px;
    display: flex;
    justify-content: flex-start;
    width: 90px;
    border-radius: 2px;
    box-shadow: 0 0 10px #000000;
}

.cuenta-cont-log{ 
    background: #000000;
    position: absolute;
    padding: 10px;
    margin-top: 140px;
    margin-left: 830px;
    margin-right: 5px;
    margin-bottom: 300px;
    display: flex;
    justify-content: flex-start;
    width: 90px;
    border-radius: 2px;
    box-shadow: 0 0 10px #000000;
}

.cuenta {

    font-size: 15px;
    color: #ac6291;
    text-decoration: none;


}

.form-log {

    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #ac6291;
    padding: 15px 40px 40px 55px;
    width: 95vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-log h2 {

    margin-top: 30px;
    font-size: 40px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 25px;
}

.button-log {
    margin-top: 15px;
    text-align: center;
    background-color: #000000;
    display: flex;
    align-items: center;
    border: 0;
    font-family: inherit;
    padding: 10px 18px 10px 40px;
    color: #ac6291;
    font-size: 25px;
    width: 100px;
    box-shadow: 0 0 10px #000000;
    text-decoration: none;
}

.cont-unload{
    margin: auto;
    padding: 85px 10px 25px 35px;
    background: #000000;
}

.secret {
    display: flex;
    margin-top: 180px;
    margin-bottom: 170px;
    margin-left: 150px;
    margin-right: 120px;
    font-size: 40px;
    padding-top:130px;
    padding-right: 20px;
    padding-left: 20px;
    background: #ac6291;
    color:#000000;
    width: 1500px;
    height: 300px;
}

@keyframes mover-texto{
    from {
        transform: translateX(0);
        
    }

    to {
        transform: translateX(100%);
    }
}

.contenedor-img-unload {

    animation: mover-texto 1s;
    animation-iteration-count: 1;
    animation-direction: reverse;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
    width: 200vh;
    height: 85vh !important;
    background-image: url(/Assets/img/distorcionado.jpg);
    background-size: cover;
}

@media  screen and (max-width: 767px) {
    body {
        font-family: inherit;
        text-align: center;
        color: rgb(255, 249, 249);
        /*  overflow: hidden;*/
        background-size: cover;
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        background: #000000;
        position: fixed;
        width: 100%;
        z-index: 100;
        box-shadow: 9px 3px 20px #ac6291;
    }
.navbar {
    display: flex;
    margin-right: 10px;
}
.logo {
    margin-left: 10px;
}
.logo a {
    text-decoration: none;
    color: #ac6291;
    text-transform: uppercase;
    font-size: 15px;
}
.navbar a {
    color: #ac6291 !important;
    font-weight: 500;
    padding: 0.5em 1.2em;
    position: relative;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 13px;
}
.navbar a:hover {
    color: rgba(255, 255, 255, 2) !important;
    transition: all 1s ease;
    border-radius: 15px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont {
    margin: auto;
    padding: 85px 10px 25px 35px;
    background: #000000;
}
.contenedor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-left: -10px;
    width: 100%;
    height: 600px !important;
    background-image: url(/Assets/img/distorcionado.jpg);
    background-size: cover;
}
.form {
    margin-left: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #ac6291;
    padding: 15px 40px 40px 55px;
    width: 250px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
}
.form h2 {
    margin-top: 45px;
    font-size: 40px;
    color: #000000 ;
    font-weight: 600;
    margin-bottom: 25px;
    text-shadow: 3px 3px 2px #56304c;
}
label {
    margin-top: 10px;
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
}
.box {
    border: 0;
    width: 250px;
    color: #ffffff;
    background-color: #56304c;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 2px; 
}
input:focus {
    outline: none;
}
.button {
    margin-top: 10px;
    margin-right: 3px;
    text-align: center;
    background-color: #000000;
    display: flex;
    align-items: center;
    border: 0;
    font-family: inherit;
    padding: 10px 8px 14px 43px;
    color: #ac6291;
    font-size: 25px;
    width: 100px;
    box-shadow: 0 0 8px #000000;
    text-decoration: none;
    border-radius: 2px;
}
.cuenta-cont {
    display: flex;
    padding-right: 10px;
    padding-left: 20px;
    background: #000000;
    position: absolute;
    margin-top: 60px;
    margin-left: 170px;
    margin-right: 5px;
    margin-bottom: 570px;
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px #000000;
}
.form-log {
    margin-left: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #ac6291;
    padding: 15px 40px 40px 55px;
    width: 250px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
}
.form-log h2 {

    margin-top: 40px;
    font-size: 40px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 25px;
}
.button-log {
    margin-top: 0px;
    text-align: center;
    background-color: #000000;
    display: flex;
    align-items: center;
    border: 0;
    font-family: inherit;
    padding: 10px 18px 10px 40px;
    color: #ac6291;
    font-size: 25px;
    width: 100px;
    box-shadow: 0 0 10px #000000;
    text-decoration: none;
}
.form-log .box {
    border: 0;
    width: 250px;
    color: #ffffff;
    background-color: #56304c;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 20px;
    border-radius: 2px; 
}
.cuenta-cont-log {
    display: flex;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
    background: #000000;
    position: absolute;
    margin-top: 70px;
    margin-left: 170px;
    margin-right: 1px;
    margin-bottom: 500px;
    display: flex;
    justify-content: flex-start;
    width: 140px;
    height: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px #000000;
}
.cont-unload {
    margin: 0;
    padding: 0;
    background: #000000;
    height: 720px;
    overflow: hidden;
}
.contenedor-img-unload {

    animation: mover-texto 1s;
    animation-iteration-count: 1;
    animation-direction: reverse;

    display: flex;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    margin-left:12px;
    width: 390px;
    height: 520px !important;
    background-image: url(/Assets/img/distorcionado.jpg);
    background-size: cover;
}
.secret {
    margin: 0;
    margin-left: 5px;
    display: flex;
    color:#ffffff;
    width: 290px;
    height: 320px;
    border-radius: 2px;
}
.secret h1 {
    display: flex;
    font-size: 30px;
    flex-direction: row;
    margin-top: -80px;
}
}